http_interactions:
- request:
    method: get
    uri: http://atlas.media.mit.edu/attr/country/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"color\": \"#ffc41c\", \n      \"display_id\":
        null, \n      \"icon\": \"/static/img/icons/country/country_af.png\", \n      \"id\":
        \"af\", \n      \"image\": \"/static/img/headers/country/af.jpg\", \n      \"image_author\":
        \"16:9clue\", \n      \"image_link\": \"https://flic.kr/p/957RCF\", \n      \"name\":
        \"Africa\", \n      \"palette\": \"[\\\"#b2532d\\\"]\"\n    }, \n    {\n      \"borders_land\":
        \"['afcod', 'afcog', 'afnam', 'afzmb']\", \n      \"color\": \"#ffc41c\",
        \n      \"comtrade_name\": \"Angola\", \n      \"display_id\": \"ago\", \n
        \     \"icon\": \"/static/img/icons/country/country_afago.png\", \n      \"id\":
        \"afago\", \n      \"id_2char\": \"ao\", \n      \"id_num\": \"24\", \n      \"image\":
        \"/static/img/headers/country/afago.jpg\", \n      \"image_author\": \"kaysha\",
        \n      \"image_link\": \"https://flic.kr/p/kPLXP\", \n      \"name\": \"Angola\",
        \n      \"palette\": \"[\\\"#833510\\\",\\\"#fef8da\\\",\\\"#e3b782\\\"]\",
        \n      \"weight\": 34156227207.20\n    }, \n    {\n      \"borders_land\":
        \"['afcod', 'afrwa', 'aftza']\", \n      \"color\": \"#ffc41c\", \n      \"comtrade_name\":
        \"Burundi\", \n      \"display_id\": \"bdi\", \n      \"icon\": \"/static/img/icons/country/country_afbdi.png\",
        \n      \"id\": \"afbdi\", \n      \"id_2char\": \"bi\", \n      \"id_num\":
        \"108\", \n      \"image\": \"/static/img/headers/country/af.jpg\", \n      \"name\":
        \"Burundi\", \n      \"weight\": 165507058.72\n    }, \n    {\n      \"borders_land\":
        \"['afbfa', 'afner', 'afnga', 'aftgo']\", \n      \"borders_maritime\": \"['afgha']\",
        \n      \"color\": \"#ffc41c\", \n      \"comtrade_name\": \"Benin\", \n      \"display_id\":
        \"ben\", \n      \"icon\": \"/static/img/icons/country/country_afben.png\",
        \n      \"id\": \"afben\", \n      \"id_2char\": \"bj\", \n      \"id_num\":
        \"204\", \n      \"image\": \"/static/img/headers/country/afben.jpg\", \n
        \     \"image_author\": \"Panoramas\", \n      \"image_link\": \"https://flic.kr/p/hN9FEK\",
        \n      \"name\": \"Be[...]
- request:
    method: get
    uri: http://atlas.media.mit.edu/sitc/export/1980/chl/arg/show/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"dest_id\": \"saarg\", \n      \"export_val\":
        19000.0, \n      \"import_val\": 0.0, \n      \"origin_id\": \"sachl\", \n
        \     \"sitc_id\": \"105722\", \n      \"sitc_id_len\": 6.0, \n      \"year\":
        1980.0\n    }, \n    {\n      \"dest_id\": \"saarg\", \n      \"export_val\":
        2365000.0, \n      \"export_val_growth_pct\": 0.916532, \n      \"export_val_growth_pct_5\":
        0.109134, \n      \"export_val_growth_val\": 1131000.0, \n      \"export_val_growth_val_5\":
        956000.0, \n      \"import_val\": 36000.0, \n      \"import_val_growth_pct\":
        0.0285714, \n      \"import_val_growth_pct_5\": 0.0175546, \n      \"import_val_growth_val\":
        1000.0, \n      \"import_val_growth_val_5\": 3000.0, \n      \"origin_id\":
        \"sachl\", \n      \"sitc_id\": \"106250\", \n      \"sitc_id_len\": 6.0,
        \n      \"year\": 1980.0\n    }, \n    {\n      \"dest_id\": \"saarg\", \n
        \     \"export_val\": 1000.0, \n      \"export_val_growth_pct\": -0.973684,
        \n      \"export_val_growth_val\": -37000.0, \n      \"export_val_growth_val_5\":
        1000.0, \n      \"import_val\": 61000.0, \n      \"import_val_growth_pct\":
        2.58824, \n      \"import_val_growth_[...]
- request:
    method: get
    uri: https://atlas.media.mit.edu/sitc/export/1980/chl/arg/show/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"dest_id\": \"saarg\", \n      \"export_val\":
        19000.0, \[...]
- request:
    method: get
    uri: https://atlas.media.mit.edu/sitc/export/1980/chl/all/show/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"export_rca\": 0.103045, \n      \"export_val\":
        41000.0, \n      \"export_val_growth_pct_5\": 0.59274, \n      \"export_val_growth_val_5\":
        37000.0, \n      \"import_val\": 2057000.0, \n      \"import_val_growth_pct_5\":
        0.139221, \n      \"import_val_growth_val_5\": 985000.0, \n      \"origin_id\":
        \"sachl\", \n      \"sitc_id\": \"105722\", \n      \"sitc_id_len\": 6.0,
        \n      \"year\": 1980.0\n    }, \n    {\n      \"export_rca\": 0.36855, \n
        \     \"export[...]
- request:
    method: get
    uri: https://atlas.media.mit.edu/sitc/export/1980/all/all/show/
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json
    body:
      encoding: UTF-8
      string: "{\n  \"data\": [\n    {\n      \"export_val\": 168455000.0, \n      \"export_val_growth_pct\":
        0.278693, \n      \"export_val_growth_pct_5\": 0.135024, \n      \"export_val_growth_val\":
        73430000.0, \n      \"export_val_growth_val_5\": 158060000.0, \n      \"import_val\":
        145476000.0, \n      \"import_val_growth_pct\": 0.285044, \n      \"import_val_growth_pct_5\":
        0.14136, \n      \"import_val_growth_val\": 64538000.0, \n      \"import_val_growth_val_5\":
        140739000.0, \n      \"pci\": 0.177783, \n      \"pci_rank\": 357.0, \n      \"pci_rank_delta\":
        -85.0, \n      \"sitc_id\": \"105722\", \n      \"sitc_id_len\": 6.0, \n      \"top_exporter\":
        \"eufdr\", \n      \"top_importer\": \"eunor\", \n      \"year\": 1980.0\n
        \   }, \n    {\n      \"export_val\": 10082000.0, \n      \"export_val_growth_pct\":
        0.197387, \n      \"export_val_growth_val\": 3324000.0, \n      \"import_val\":
        5041000.0, \n      \"import_val_growth_pct\": 0.197387, \n      \"import_val_growth_val\":
        1662000.0, \n      \"pci\": 1.74647, \n      \"pci_rank\": 8.0, \n      \"sitc_id\":
        \"105838\", \n      \"sitc_id_len\": 6.0, \n      \"top_exporter\": \"nausa\",
 [...]
